body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("life.jpg");
    background-size: 120%;
    background-position: -80px -150px;
}

.container {
    background-color: #333333a5;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    width: 30%;
}

.btn:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 14px;
}

.link {
    text-align: center;
    margin-top: 20px;
}

.link a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.link a:hover {
    text-decoration: underline;
}