* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-top: 120px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.header {
  position: fixed; /* Make the header fixed */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1e1b1b;
  color: white;
  padding: 20px 0;
  text-align: center;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.nav ul {
  list-style: none;
}

.nav ul li {
  display: inline;
  margin-right: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #333;
}

.active {
  background-color: #333;
  border-radius: 5px;
  padding: 5px 10px;
}

/* Hero Section */
.hero {
  background-color: #333;
  color: white;
  padding: 50px 0;
  text-align: center;
}

.hero-title {
  font-size: 36px;
  font-weight: bold;
}

/* User List Section */
.user-list {
  padding: 40px 0;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

table th {
  background-color: #333;
  color: white;
  font-weight: bold;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #ddd;
}

button {
  background-color: #009688;
  color: white;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: #00796B;
}

/* Footer */
.footer {
  background-color: #dd4b39;
  color: whitesmoke;
  text-align: center;
  padding: 20px 0;
}

.footer h4 {
  margin-bottom: 10px;
}

.footer input[type="submit"] {
  background-color: #02ff0a65;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.footer input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add padding to the content below the fixed navigation */
body {
  padding-top: 80px; /* Adjust the top padding to match the height of the navigation bar */
}
ul li select {
  padding: 5px;
  border: 1px solid #ccc; /* Adjust the input border size */
  border-radius: 5px;
  background-color: #fff;
  font-weight: bold;
  color: #333;
}

/* Style for the select element options */
ul li select option {
  background-color: #fff;
  color: #333;
}
select {
  width: 10%; /* Make the select element width 100% */
  padding: 10px; /* Adjust the select padding */
  border: 1px solid #ccc; /* Adjust the select border size */
  border-radius: 5px;
}